
.posts h4, .posts h5 {
    text-align: center;
  }

.searchBlock {
  display: flex;
  justify-content: space-evenly;
}

.searchBlock input {
  width: 300px;
}

.noResults-appear {
  opacity: 0.01;
}

.noResults-appear.noResults-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}